@using System.Collections.Generic
@using System.Linq

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Nancy.Demo.Samples.RepositoryModel>>
@{
    Layout = "layout.cshtml";
}

@foreach (var repo in @Model) {
    <div class="list-widget">
        <div class="content">
            
            <a href="http://github.com/@(repo.Author)">
                <img src="@Html.Raw(@repo.Gravatar)" alt="" class="avatar" style="float: left;" />
            </a>
        
            <div class="list-head clearfix">
                <h3>
                    <a href="@(repo.Url)">@(repo.Name.Replace("Nancy.Demo.", string.Empty))</a>
                </h3>
        
                <div id="list-meta">
                    @("by ")<a href='http://github.com/@(repo.Author)'>@repo.Author</a>
                </div>
            </div>
        
            <div class="main">
            <p class="clearfix;" style="margin-top: 15px;">
                @Html.Raw(@repo.Description)
            </p>
        
            <div>
                <ul>
                    <li><a href="@(repo.Url)">Github</a></li>
                    @if (repo.HasNuget)
                    {
                        <li><a href="http://nuget.org/packages/@(repo.Name)">Nuget</a></li>   
                    }
                </ul>
            </div>
        
            <p>
                Last updated: @repo.LastCommit
            </p>
        
            @if(@repo.Packages.Any())
            {
                @("Packages used in this sample")
                <div class="well well-small">
                    <ul>
                        @foreach (var package in @repo.Packages)
                        {
                            <li><a href="http://nuget.org/packages/@(repo.Name)">@package.Item1 (@package.Item2)</a></li>
                        }
                    </ul>
                </div>
            }
            </div>
            <div class="readme">
                @Html.Raw(@repo.Readme)
            </div>
        </div>
        
        <a href="#" class="open">Open</a>

    </div>
}